<f:comment>dbis_Footer.html</f:comment>
<div class="dbis_ezb_info">
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.language')} == 'de'">
        <f:then>
          <a href="http://dbis.uni-regensburg.de//index.php?bib_id=ubman&colors=15&ocolors=40&ref=about" target="_blank">Über das Datenbank-Infosystem (DBIS)</a>
        </f:then>
        <f:else>
          <a href="http://dbis.uni-regensburg.de//index.php?bib_id=ubman&colors=15&ocolors=40&ref=about" target="_blank">About the Database-Infosystem (DBIS)</a>
        </f:else>
    </f:if>
</div>
<!-- dbis_Footer.html -->