{namespace libconnect=Sub\Libconnect\ViewHelpers}

<script type="text/javascript">
$(document).ready(function () {
if (/libconnect%5Bsubject%5D=all/.test(window.location.href)) {
    document.getElementById("listing_alph").style.backgroundColor = "#d7d7d7";
    document.getElementById("listing_alph").style.border = "1px solid #CCCCCC";
    document.getElementById("listing_subject").style.backgroundColor = "transparent";
} else if (/%5Bsearch%5D/.test(window.location.href)) {
    document.getElementById("listing_alph").style.backgroundColor = "transparent";
    document.getElementById("listing_subject").style.backgroundColor = "transparent";
} else if (/libconnect%5Bsubject%5D/.test(window.location.href)) {
    document.getElementById("listing_alph").style.backgroundColor = "transparent";
    document.getElementById("listing_subject").style.backgroundColor = "transparent";
} else {
    document.getElementById("listing_alph").style.backgroundColor = "transparent";
    document.getElementById("listing_subject").style.backgroundColor = "#d7d7d7";
    document.getElementById("listing_subject").style.border = "1px solid #CCCCCC";
}
});

//Loading Icon bei Klick auf alph. Übers.
$(document).ready(function () {
$('#alph_link').click(function(){
   $('<div class="loadingDiv box-simple-1"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><p>Loading Databases...</p></div>').prependTo(document.body);
});
});

</script>

<div class="datenbank-suche-wrapper">

<f:comment>
        /* UBMA: Überschrift ausblenden
    <h2 class="libconnect-h2"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.search_header" /></h2>
*/
</f:comment>

    <f:form action="{listUrl}" method="get" pageUid="{listPid}">
        <f:form.hidden name="id" value="{listPid}"/>

        <label for="libconnect_dbis_minisuche" class="hiddendebis"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.search_term" /></label>
        <f:form.textfield type="text" id="libconnect_dbis_minisuche" name="search[sword]" value="{vars.sword}" size="20"/>

        <f:form.submit name="submit" value='<f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.submit.search" />'/>

        <a href="{searchUrl}"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.search_link" /></a>


        <p>
        <span id="listing_subject">
        <f:link.page pageUid="{listPid}" addQueryString="0" additionalAttributes="{rel: 'nofollow'}">
                    <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.listing_subject" />
        </f:link.page>
        </span>
        <span id="listing_alph">
        <f:link.page pageUid="{listPid}" additionalParams="{libconnect: {subject: 'all'}}" addQueryString="0" id="alph_link" additionalAttributes="{rel: 'nofollow'}">
                    <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.listing_alph" />
        </f:link.page>
        </span>
        </p>
    </f:form>

</div>

<f:comment>
/* UBMA: Ausblenden des nicht benötigten Dropdowns der verschiedenen Lizenzierungen
<f:if condition="{vars.sword}">
    <f:then></f:then>
    <f:else>
        <div class="datenbank-suche-wrapper">
            <h2 class="libconnect-h2"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.show_databases" /></h2>

	    <f:form name="dbis-mini-form-choose-licence" id="dbis-mini-form-choose-licence" controller="Dbis" method="post" pageUid="{listPid}">
                <p>
                    <label for="libconnect_dbis_suche" class="hiddendebis"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.select_access" /></label>

                    <f:form.select id="libconnect_dbis_suche" name="libconnect[search][zugaenge]" options="{form.zugaenge}" value="{vars.zugaenge}"/>

                </p>
                <f:form.submit name="choose_licence" value='<f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.select_access" />' />
            </f:form>

        </div>
    </f:else>
</f:if>
/*
</f:comment>

<f:comment>
/* UBMA: Ausblenden von Sortierungs-DIV (wird oben angezeigt)
<div class="dbis-listings-wrapper">
    <h2 class="ezb-sort"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.ezb.miniform.link.sort" /></h2>

    <f:if condition="{listingsWrapper}">
        <f:then>
            <p>
                <f:link.page pageUid="{listPid}" additionalParams="{libconnect: '{sort:\'type\'}'}" addQueryString="1">
                    <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.listing_type" />
                </f:link.page>
            </p>

            <p>
                <f:link.page pageUid="{listPid}" additionalParams="{libconnect: '{sort:\'alph\'}'}" addQueryString="1">
                    <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.listing_alph" />
                </f:link.page>
            </p>

        </f:then>
        <f:else>
            <p>
                <f:link.page pageUid="{listPid}" addQueryString="0">
                    <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.listing_subject" />
                </f:link.page>
            </p>

            <p>
                <f:link.page pageUid="{listPid}" additionalParams="{libconnect: {subject: 'all'}}" addQueryString="1">
                    <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.listing_alph" />
                </f:link.page>
            </p>
        </f:else>
    </f:if>
</div>
*/
</f:comment>

<f:if condition="{newUrl}">
    <div class="dbis-listings-wrapper">
        <div class="dbis-new">
            <p id="dbis-newmini">
                <a rel="nofollow" href="{newUrl}">
                    <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.new.all" /><span class="newcount"> ({newInSubjectCount})</span>
                </a>
            </p>
        </div>
    </div>
</f:if>
<f:if condition="{newUrlSub}">
    <div class="dbis-listings-wrapper">
        <div class="dbis-new">
            <p id="dbis-newmini">
                <a rel="nofollow" href="{newUrlSub}">
                    <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.new.subject" /><span class="newcount"> ({newInSubjectCount})</span>
                </a>
            </p>
        </div>
    </div>
</f:if>
