{namespace libconnect=Sub\Libconnect\ViewHelpers}

<script type="text/javascript">
/* UBMA: Markieren der aktuellen Sortierung*/
$(document).ready(function () {
if (/libconnect%5Bsort%5D=alph/.test(window.location.href)) {
    document.getElementById("sorting_alph").style.backgroundColor = "#d7d7d7";
    document.getElementById("sorting_alph").style.border = "1px solid #CCCCCC";
    document.getElementById("sorting_type").style.backgroundColor = "transparent";
    document.getElementById("sorting_type").style.border = "none";
    } else if (/libconnect%5Bsort%5D=type/.test(window.location.href)) {
    document.getElementById("sorting_type").style.backgroundColor = "#d7d7d7";
    document.getElementById("sorting_type").style.border = "1px solid #CCCCCC";
    document.getElementById("sorting_alph").style.backgroundColor = "transparent";
    document.getElementById("sorting_alph").style.border = "none";
    }
});

/* UBMA: Akkordeon */
$(document).ready(function () {
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
        if (i%2 == 0){
            acc[i].onclick = function accTop() {
                this.classList.toggle("active");
                this.nextElementSibling.classList.toggle("show");
                this.nextElementSibling.nextElementSibling.classList.toggle("active");
                }
        } else {
            acc[i].onclick = function accBottom() {
                this.classList.toggle("active");
                this.previousElementSibling.classList.toggle("show");
                this.previousElementSibling.previousElementSibling.classList.toggle("active");
                }
        }
    }
});

</script>

<f:comment>
        /* UBMA: Unerwünschte Überschrift ausblenden */
        <h1 class="libconnect-h1"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.list.headline.dbis" /> <f:if condition="{list.alphNavList}"><f:else><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.list.headline.subject" /></f:else></f:if></h1>
</f:comment>

<f:comment>
/* UBMA: Überschrift nur bei Liste zu Fachgebiet anzeigen */
</f:comment>

<f:if condition="{list.alphNavList}">
<f:then></f:then>
<f:else><h2 class="libconnect-h2">{listhead}</h2></f:else>
</f:if>




<f:if condition="{list.alphNavList}">
<f:then>
    <f:comment> /* UBMA: Ausblenden der Alphabet-Auswahlleiste */
    <!-- BOF workaround for alphabetical listing and sorting for subject listing -->
    <div class="alph-nav-list-wrapper">
        <f:for each="{list.alphNavList}" as="charBlock">
            <f:if condition="{charBlock.current}">
                <f:then>
                    <em><f:for each="{charBlock.chars}" as="char"><f:format.htmlentitiesDecode>{char}</f:format.htmlentitiesDecode></f:for></em>
                </f:then>
                <f:else>
                    <f:link.page pageUid="{listPid}" additionalParams="{libconnect: '{subject: subject, lc:charBlock.lc, fc:charBlock.fc}'}"><f:for each="{charBlock.chars}" as="char"><f:format.htmlentitiesDecode>{char}</f:format.htmlentitiesDecode></f:for></f:link.page>
                </f:else>
            </f:if>
        </f:for>
    </div>
    <!-- EOF workaround for alphabetical listing and sorting for subject listing -->
    </f:comment>
</f:then>
<f:else>
    <f:comment>/* UBMA: Sortierung nur anzeigen, wenn Datenbankliste zu Sachgebiet (nicht bei alphabetischer Datenbankliste)*/</f:comment>
    <div class="dbis-list-sort">
    <p><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.link.sort" />
        <span id="sorting_alph">
        <f:link.page pageUid="{listPid}" additionalParams="{libconnect: '{sort:\'alph\'}'}" addQueryString="1">
                            <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.sort_alph" />
                        </f:link.page>
        </span>
        <span id="sorting_type">
        <f:link.page pageUid="{listPid}" additionalParams="{libconnect: '{sort:\'type\'}'}" addQueryString="1">
                            <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.miniform.sort_type" />
                        </f:link.page>
        </span>
        <f:comment> /* UBMA: Testsortierung nach Zugangsart
        <span id="sorting_access">
        <f:link.page pageUid="{listPid}" additionalParams="{libconnect: '{sort:\'access\'}'}" addQueryString="1">
                            Testsortierung nach Zugangsart
                        </f:link.page>
        </span>
        */ </f:comment>
    </p>
    </div>
</f:else>
</f:if>


<f:if condition="{list.top}">
    <div class="top-database-wrapper">
        <h3 class="libconnect-h3"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.list.topdatabases" /></h3>
        <ul class="dbis-top-list">
            <f:for each="{list.top}" as="db">
                <li class="dbis-list-accessinfo-{db.access_ref}"><a href="{db.detail_link}"><libconnect:strreplace search=" & " replace=" &amp; "><f:format.htmlentitiesDecode>{db.title}</f:format.htmlentitiesDecode></libconnect:strreplace></a> <f:comment> /*UBMA Ausblenden von Acces(<f:format.htmlentitiesDecode>{db.access}</f:format.htmlentitiesDecode>)*/ </f:comment></li>
            </f:for>
        </ul>
    </div>
</f:if>


<div class="dbis-list">
<f:if condition="<f:count subject='{list.groups}'/> > 0">
<f:for each="{list.groups}" as="group">
<f:if condition="<f:count subject='{group.dbs}'/> > 0">
    <f:if condition="{group.title}">
        <f:then>
                <div class="accordion-fce-wrapper">
                <div class="accordion-fce">
                <button class="accordion" tabindex="0">
                <f:format.htmlentitiesDecode>{group.title}</f:format.htmlentitiesDecode>
                <span class="db-count">(<f:count subject="{group.dbs}" />)</span>
                </button>
                <div class="accordion-content">
        </f:then>
        <f:else>
            <h3 class="libconnect-h3">
                <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.list.full_list" />
                <span class="db-count">(<f:count subject="{group.dbs}" />)</span>
            </h3>
        </f:else>
    </f:if>

    <ul class="dbis-dblist">
    <f:for each="{group.dbs}" as="db">
    <li class="dbis-list-accessinfo-{db.access_ref}"><a href="{db.detail_link}"><libconnect:strreplace search=" & " replace=" &amp; "><f:format.htmlentitiesDecode>{db.title}</f:format.htmlentitiesDecode></libconnect:strreplace></a></li>
    </f:for>
    </ul>

    <f:if condition="{group.title}">
    </div>
    <button class="accordion"></button>
    </div>
    </div>
    </f:if>
</f:if>
</f:for>
</f:if>
</div>


<f:comment>
<f:if condition="{list.alphNavList}">
    <f:then>
    <p>bin alph nav list</p>
        <f:for each="{list.alphNavList}" as="charBlock">
            <p><f:format.htmlentitiesDecode>{charBlock}</f:format.htmlentitiesDecode></p>
            <f:for each="{charBlock.chars}" as="char">
                <p><f:format.htmlentitiesDecode>{char}</f:format.htmlentitiesDecode></p>
                <f:for each="{list.groups}" as="group">
                <p><f:format.htmlentitiesDecode>{group}</f:format.htmlentitiesDecode></p>
                    <div class="accordion-fce-wrapper">
                    <div class="accordion-fce">
                        <button class="accordion">
                        <f:format.htmlentitiesDecode>{group.title}</f:format.htmlentitiesDecode>
                        <span class="db-count">(<f:count subject="{group.dbs}" />)</span>
                        </button>
                        <div class="accordion-content">
                            <ul class="dbis-dblist">
                            <f:for each="{group.dbs}" as="db">
                            <li class="dbis-list-accessinfo-{db.access_ref}"><a href="{db.detail_link}"><libconnect:strreplace search=" & " replace=" &amp; "><f:format.htmlentitiesDecode>{db.title}</f:format.htmlentitiesDecode></libconnect:strreplace></a></li>
                            </f:for>
                            </ul>
                        </div>
                    <button class="accordion"></button>
                    </div>
                    </div>
                </f:for>
            </f:for>
        </f:for>
    </f:then>
    <f:else>
        <f:for each="{list.groups}" as="group">
            <f:if condition="{group.title}">
                <f:then>
                    <div class="accordion-fce-wrapper">
                    <div class="accordion-fce">
                        <button class="accordion">
                        <f:format.htmlentitiesDecode>{group.title}</f:format.htmlentitiesDecode>
                        <span class="db-count">(<f:count subject="{group.dbs}" />)</span>
                        </button>
                        <div class="accordion-content">
                            <ul class="dbis-dblist">
                            <f:for each="{group.dbs}" as="db">
                            <li class="dbis-list-accessinfo-{db.access_ref}"><a href="{db.detail_link}"><libconnect:strreplace search=" & " replace=" &amp; "><f:format.htmlentitiesDecode>{db.title}</f:format.htmlentitiesDecode></libconnect:strreplace></a></li>
                            </f:for>
                            </ul>
                        </div>
                        <button class="accordion"></button>
                    </div>
                    </div>
                </f:then>
                <f:else>
                    <h3 class="libconnect-h3">
                        <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.list.full_list" />
                        <span class="db-count">(<f:count subject="{group.dbs}" />)</span>
                    </h3>
                    <ul class="dbis-dblist">
                        <f:for each="{group.dbs}" as="db">
                        <li class="dbis-list-accessinfo-{db.access_ref}"><a href="{db.detail_link}"><libconnect:strreplace search=" & " replace=" &amp; "><f:format.htmlentitiesDecode>{db.title}</f:format.htmlentitiesDecode></libconnect:strreplace></a></li>
                        </f:for>
                    </ul>
                </f:else>
            </f:if>
        </f:for>
    </f:else>
</f:if>
</f:comment>


<h3 class="libconnect-legend"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.list.legend.headline" /></h3>
<div class="dbis-list-legend">
    <ul>
        <f:for each="{list.access_infos}" as="info">
            <li class="dbis-list-accessinfo-{info.id}"><f:format.htmlentitiesDecode>{info.title}</f:format.htmlentitiesDecode> (<f:format.htmlentitiesDecode>{info.description}</f:format.htmlentitiesDecode>)</li>
        </f:for>
    </ul>
</div>

<f:render partial="dbis_Footer" />
