{namespace libconnect=Sub\Libconnect\ViewHelpers}

<script type="text/javascript">
$(document).ready(function () {
if (/jq_type/.test(window.location.href)) {
    document.getElementById("search_edit").style.display = "inline";
    } else {
    document.getElementById("search_edit").style.display = "none";
    }
});
</script>


<h2 class="libconnect-h1"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.search.results" /></h2>


<p><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.search.criterion" /></p>
<ul>
    <f:for each="{list.searchDescription}" as="description">
        <li><f:format.htmlentitiesDecode>{description}</f:format.htmlentitiesDecode></li>
    </f:for>
</ul>


<p class="hitcount">
    <libconnect:strreplace search="%s" replace="{list.values -> f:count()}">
        <f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.search.hits" />
    </libconnect:strreplace>
    <a href="javascript:history.back()" id="search_edit"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.search.edit_search" /></a>
</p>


<f:if condition="<f:count subject='{list.top}' /> > 0">
    <div class="top-database-wrapper">
        <h2><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.search.top_databases" /></h2>
            <ul class="dbis-top-list">
                <f:for each="{list.top}" as="db">
                    <li><a href="{db.detail_link}"><f:format.htmlentitiesDecode>{db.title}</f:format.htmlentitiesDecode></a> (<f:format.htmlentitiesDecode>{db.access}</f:format.htmlentitiesDecode>)</li>
                </f:for>
            </ul>
    </div>
</f:if>


<div class="dbis-list">
    <f:if condition="<f:count subject='{list.values}' /> > 0">
            <ul class="dbis-dblist">
                <f:for each="{list.values}" as="db" key="titleid">
                    <li class="dbis-list-accessinfo-{db.access_ref}">
                        <a href="{db.detail_link}"><f:format.htmlentitiesDecode>{db.title}</f:format.htmlentitiesDecode></a>
                    </li>
                </f:for>
            </ul>
    </f:if>
</div>



<h3 class="libconnect-legend"><f:translate key="LLL:EXT:libconnect/Resources/Private/Language/locallang.xml:tx_libconnect.dbis.search.licence" /></h3>

<div class="dbis-list-legend">
    <ul>
        <f:for each="{list.access_infos}" as="info">
            <li class="dbis-list-accessinfo-{info.id}"><f:format.htmlentitiesDecode>{info.title}</f:format.htmlentitiesDecode> (<f:format.htmlentitiesDecode>{info.description}</f:format.htmlentitiesDecode>)</li>
        </f:for>
    </ul>
</div>

<f:render partial="dbis_Footer" />
